html body { 
	background-color: rgb(145, 66, 3);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }

  * {
	  box-sizing: border-box;

	}

		
.container1
{	background-color: rgb(206, 115, 41);
	border:1px solid white;
	margin-bottom:10px;
}


.container2
{
	

	background-color: rgb(228, 103, 0);
	border:1px solid white;
	
}
.texto1
{
	text-align:center;
	color: rgb(255, 217, 0);
	font-family: arial;

	text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
	
}
.texto2
{
	text-align:center;
	color: rgb(255, 217, 0);
	font-family: arial;

}
.texto3
{
	text-align:center;
	color:greenyellow
}

.filtrobusqueda{
	position:absolute;
	top: 230px;
width:97%;

}
.tabla {

	background-color: rgb(228, 103, 0);
	border:1px solid white;
	position: relative;
	top: 200px;

}

input { width: 77%;
	 padding: .1em 1em;
	 }
.button{
	background-color:rgb(228, 103, 0); 
	color: white;
	border:1px solid white;
	padding: 15px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
}
.button:hover {
	background-color: rgb(254, 131, 30); 
}
td{
	border: rgb(150, 69, 3) 2px solid;
}