html body { 
	background-color: rgb(145, 66, 3);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }

  * {
	  box-sizing: border-box;

	}
	.row 
{
	background-color: rgb(145, 66, 3);

}
		
.container1
{	background-color: rgba(204, 143, 12, 0.664);
	border:1px solid white;

}
.container2
{	background-color: rgb(228, 103, 0);
	border:1px solid white;

}
.button:hover{
	background-color: rgb(254, 131, 30); ;
}
.margen
{	margin: 10em;
}


#volver{
	background-color:rgb(228, 103, 0); 
	color: white;
	border:1px solid white;
	padding: 15px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
}
.descripcion{
	border-top: rgb(150, 69, 3) 3px solid; 
	padding-left: 0;
	padding-right: 0;
}
.imagenes{
	border: rgb(150, 69, 3) 3px solid;
}
.precios{
	border-left: rgb(150, 69, 3) 3px solid;
	
}
#tdBordes{
	border: rgb(150, 69, 3) 2px solid;
}
.tablaComentarios{
	border:1px solid white;
	margin:10px;
}