html body  { 
	background-color: rgb(145, 66, 3);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
  
  * {
	  box-sizing: border-box;
	}

.container1
{	
	position:absolute;
	top: 200px;
	background-color: rgb(206, 115, 41);
	border:1px solid white;
	margin:0;
	padding:0;
	
}
.container2
{ position:relative;
	top:10px;
	background-color: rgb(228, 103, 0);
	border:1px solid white;
 margin-bottom: 20px;

}

.bordes
{
	border:1px solid black;
	background-color: grey;
}
.row 
{
	margin:0;
	padding:0;

}
input { width: 60%; padding: .1em 1em; }
