html body{ 
	background-color: rgb(145, 66, 3);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
* {
	box-sizing: border-box;
}
		
.container1	{	
	position:absolute;
	top: 150px;	
	background-color: rgb(206, 115, 41);
	border:1px solid white;
	height: 150px;
}

.container2{
	background-color: rgb(228, 103, 0);
	border:1px solid white;
}
.bordes{
	border:1px solid black;
	background-color: grey;
}
#button{
	background-color:rgb(228, 103, 0); 
	color: white;
	border:1px solid white;
	padding: 25px 30px;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
}
#button:hover {
	background-color: rgb(254, 131, 30); ;
}